@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');

#root {
  font-family: 'Rubik', sans-serif;
  margin: 0 auto;
  text-align: center;
}


.gradient {
  background: rgb(19, 32, 28);
  background: radial-gradient(circle, rgba(19, 32, 28, 1) 3%, rgba(26, 42, 39, 1) 24%, rgba(45, 73, 72, 1) 67%, rgba(48, 78, 78, 1) 74%, rgba(50, 81, 81, 1) 83%, rgba(27, 37, 54, 1) 100%, rgba(74, 85, 75, 1) 100%);
}

.scroll-to-top {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 20px;
  right: 20px;
  transition-duration: 500ms;
  background-color: #ffffff;
  border: 1px solid black;
  /* Add a black border */
  border-radius: 100%;
  /* Make it a circle */
  padding: 10px 10px;
  cursor: pointer;
  font-size: 16px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
  /* Add background-color transition */
}

.scroll-to-top.visible {
  opacity: 1;
}

.scroll-to-top:hover {
  background-color: #000000;
  /* Change background color on hover */
  color: #fff;
  /* Change text color on hover */
  border-color: #000;
  /* Change border color on hover */
}

/* Define a fade-in animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transition-duration: 500ms;
    transform: translateY(-50px);
    transform: skewX(100px);
    animation: fadeIn 5s ease-in-out;
    /* Optionally, you can add a slight upward movement */
  }

  100% {
    opacity: 1;
    animation: fadeIn 5s ease-in-out;
    transform: translateY(0);
  }
}
/* Optionally, you can add animation properties to control the duration and easing */
.fade-in-element {
  animation: fadeIn 1s ease-in-out;
}
.transition-div {
  width: 100%;
  height: 200px;
  /* ความสูงเริ่มต้น */
  background-color: #ccc;
  /* สีพื้นหลังเริ่มต้น */
  overflow: hidden;
  /* ซ่อนส่วนที่เกินความสูง */
  position: relative;
  transition: height 0.3s ease, background-color 0.3s ease;
}

.transition-div:hover {
  color: #ccc;
  height: 400px;
  /* ความสูงที่เพิ่มขึ้นเมื่อโฮเวอร์เมาส์ */
  background: rgb(19, 32, 28);
  background: radial-gradient(circle, rgba(19, 32, 28, 1) 3%, rgba(26, 42, 39, 1) 24%, rgba(45, 73, 72, 1) 67%, rgba(48, 78, 78, 1) 74%, rgba(50, 81, 81, 1) 83%, rgba(27, 37, 54, 1) 100%, rgba(74, 85, 75, 1) 100%);
}

.container {
  display: flex;
  align-items: center;
  /* Vertically center items */
}

.text {
  flex: 1;
  /* Allow text to take up remaining space */
  padding: 10px;
  /* Adjust padding as needed */
}

.line {
  width: 1px;
  /* Width of the line */
  height: 100%;
  /* Extend the line to match container height */
  background-color: black;
  /* Line color */
  margin-left: 10px;
  /* Adjust margin as needed */
}
