@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-tweet {
  /* background-image: url('../public/tweetBg.png');
  background-size: 100% 100%;
  background-repeat: no-repeat; */
}

.no-outline {
  border: none;
  outline: none;
}